<?xml version="1.0"?>
<launch>

  <group ns="/iiwa">
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <!--<rosparam file="$(find kuka_iiwa_14_prismatic_gripper)/config/ros_controllers.yaml" command="load"/>-->
    <rosparam>
# Publish all joint states -----------------------------------
joint_state_controller:
  type: joint_state_controller/JointStateController
  publish_rate: 50

# Trajectory Controllers ---------------------------------------
#
# Effort Position Controllers ---------------------------------------
effort_trajectory_controller:
  type: effort_controllers/JointTrajectoryController
  joints:
    - iiwa_joint_1
    - iiwa_joint_2
    - iiwa_joint_3
    - iiwa_joint_4
    - iiwa_joint_5
    - iiwa_joint_6
    - iiwa_joint_7
    # VALUES ARE NOT CORRECT !
  gains:
    iiwa_joint_1: {p: 500,  d: 30, i: 15, i_clamp: 30}
    iiwa_joint_2: {p: 200,  d: 10, i: 10, i_clamp: 30}
    iiwa_joint_3: {p: 65,  d: 10, i: 15, i_clamp: 30}
    iiwa_joint_4: {p: 31,  d: 7, i: 12, i_clamp: 30}
    iiwa_joint_5: {p: 23,  d: 3, i: 5, i_clamp: 30}
    iiwa_joint_6: {p: 13,  d: 3, i: 3, i_clamp: 30}
    iiwa_joint_7: {p: 17,  d: 2, i: 2.5, i_clamp: 10}

  constraints:
    goal_time: 0.5                   # Override default

  state_publish_rate:  25            # Override default
  action_monitor_rate: 30            # Override default
  stop_trajectory_duration: 0        # Override default

gripper_left_effort_controller:
  type: effort_controllers/JointEffortController
  joint: gripper_left_joint
  pid: {p: 10.0, i: 0.0, d: 0.1, i_clamp_min: -1, i_clamp_max: 1}

gripper_right_effort_controller:
  type: effort_controllers/JointEffortController
  joint: gripper_right_joint
  pid: {p: 10.0, i: 0.0, d: 0.1, i_clamp_min: -1, i_clamp_max: 1}

    </rosparam>

    <!--<param name="robot_description" textfile="$(find kuka_iiwa_14_prismatic_gripper)/config/total_iiwa_14.xacro"/>-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find iiwa_description)/urdf/iiwa14.urdf.xacro'" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0.0 -y 0.0 -z 0.1 -model iiwa14" respawn="false" output="screen"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" args="effort_trajectory_controller gripper_left_effort_controller gripper_right_effort_controller joint_state_controller">
    </node>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="false" output="screen">
      <remap from="/joint_states" to="/iiwa/joint_states" />
    </node>
    <node name="joint_state_relay" pkg="topic_tools" type="relay" args="/iiwa/joint_states /joint_states"/>
  </group>
</launch>
